
.top {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.top svg {
  width: 2rem;
}

.top .cart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  flex-direction: row;
  justify-content: space-evenly;
}

/* article {
  display: flex;
} */

.card {
  /* display: flex; */
  /* flex-direction: column; */
  flex: 1;
  overflow: hidden;
  min-width: 300px;
  border-radius: 20px;
  /* width: clamp(300px, 45%, 50%); */
  /* max-width: 100px; */
  /* max-width: 75%; */
  /* max-height: 40%; */
}
.card h1, 
.card h2, 
.card h3, 
.card h4, 
.card h5, 
.card p {
  color: black;
}
.card .img-wrapper {
  overflow: hidden;
  max-height: 370px;
}
.card .img-wrapper img {
  display: block;
  overflow: hidden;
  height: 30%;
  width: 100%;
  object-fit: contain;
}
.card .content {
  padding: 20px;
  background-color: white;
}
.card .content button {
  width: 100%;
  padding: 15px 0;
  color: white;
  font-weight: 700;
  background-color: #81b29a;
  border: none;
  border-radius: 10px;
}

.card .content h2 {
  padding: 5px 0;
}

.card .content .price {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.TotalPrice {
  margin: 1rem;
  text-align: right;
}