html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b29a;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

main {
  max-width: 1000px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.top svg {
  width: 2rem;
}

.top .cart {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  flex-direction: row;
  justify-content: space-evenly;
}

/* article {
  display: flex;
} */

.card {
  /* display: flex; */
  /* flex-direction: column; */
  flex: 1;
  overflow: hidden;
  /* min-width: 300px; */
  min-width: 30rem;
  border-radius: 20px;
  /* max-width: 50rem; */
  /* width: clamp(300px, 45%, 50%); */
  /* max-width: 100px; */
  /* max-width: 75%; */
  /* max-height: 40%; */
}
.card h1, 
.card h2, 
.card h3, 
.card h4, 
.card h5, 
.card p {
  color: black;
}
.card .img-wrapper {
  overflow: hidden;
  max-height: 370px;
}
.card .img-wrapper img {
  display: block;
  overflow: hidden;
  height: 30%;
  width: 100%;
  object-fit: contain;
  /* object-position: center; */
}
.card .content {
  padding: 20px;
  background-color: white;
}
.card .content button {
  width: 100%;
  padding: 15px 0;
  color: white;
  font-weight: 700;
  background-color: #81b29a;
  border: none;
  border-radius: 10px;
}

.card .content h2 {
  padding: 5px 0;
}

.card .content .price {
  font-size: 1.5rem;
  padding-bottom: 20px;
}


.cart-card {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  min-width: 300px;
  border-radius: 20px;
  /* width: clamp(300px, 45%, 50%); */
  /* max-width: 100px; */
  /* max-width: 75%; */
  /* max-height: 40%; */
  justify-content: space-between;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 10px;
}
.cart-card h1, 
.cart-card h2, 
.cart-card h3, 
.cart-card h4, 
.cart-card h5, 
.cart-card p {
  color: black;
}
.cart-card .img-wrapper {
  overflow: hidden;
  max-height: 300px;
  max-width: 50%;
  padding: 30px;
  border-radius: 20px;
}
.cart-card .img-wrapper img {
  display: block;
  overflow: hidden;
  height: 100%;
  /* width: 100%; */
  object-fit: contain;
  border-radius: 20px;
}
.cart-card .content {
  padding: 20px;
  background-color: white;
}
.cart-card .content button {
  width: 100%;
  padding: 15px 0;
  color: white;
  font-weight: 700;
  background-color: #81b29a;
  border: none;
  border-radius: 10px;
}

.cart-card .content h2 {
  padding: 5px 0;
}

.cart-card .content .price {
  font-size: 1.5rem;
  padding-bottom: 20px;
  text-align: right;
}

.cart-card .content .plant-name {
  color: green;
}

.TotalPrice {
  margin: 1rem;
  text-align: right;
  font-size: x-large;
  font-weight: bold;
}

